<li class="nav-item">
  <%= link_to 'Products', products_path, class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to 'Integrate with your store', integration_stores_path, class: 'nav-link' %>
</li>
<%= link_to '| Log out', destroy_supplier_session_path, method: :delete %>
